CADio/SampleData/DesignSceneListData/DesignSceneListData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.DesignSceneListData" targetNamespace="Expression.Blend.SampleData.DesignSceneListData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DesignSceneListData" type="tns:DesignSceneListData" />
  <xs:complexType name="DesignSceneListData">
    <xs:sequence>
      <xs:element name="Scene" type="tns:Scene" />
    </xs:sequence>
    <xs:attribute name="SelectedShape" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="Scene">
    <xs:sequence>
      <xs:element name="Shapes" type="tns:Shapes" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Shapes">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="ShapesItem" type="tns:ShapesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShapesItem">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
  </xs:complexType>
</xs:schema>